VERSION=0.0.1
PGHOST=
POSTGRES=
PGPASSWORD=
PGDATABASE=
PGPORT_DEV=
PGPORT_PROD=

BALE_BOT_TOKEN=
EITAA_BOT_TOKEN=
RESERCH_HADITH=
RESERCH_CLIP_ID=
RESERCH_LECTURE_ID=
CHANNEL_BALE=
CHANNEL_EITAA=
CHANNEL_EITAA_TEST=
DEBUGER_ID=
ADMINS_ID=
BASE_IMAGE_URL=
BASE_DAY_URL=
BASE_AUDIO_URL=