name: Run Tests

on:
  pull_request:
    branches:
      - develop
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'README.md'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      # مرحله یونیت تست
      - name: Run Unit Tests
        run: |
          pytest tests/unit_tests --maxfail=1 --disable-warnings -v

      # مرحله اینتگریشن
      - name: Run Integration Tests
        run: |
          pytest tests/integration_tests --maxfail=1 --disable-warnings -v
